<section class="home my-5">
    <div class="container mb-5">
        <div class="search py-3 border rounded-3">
            <div class="container m-2">
                <div class="my-2">
                    <h2 class="m-3">Welcome To Our Movie App</h2>
                    <p class="m-3">Millions of movies , Tv shows , people to dicover , Explore now</p>
                </div>
                <form class="w-100 d-flex">
                    <input [(ngModel)]="searchVal" type="text" name="search" class="form-control m-3"
                        placeholder="search">
                    <button type="submit" class="btn btn-primary m-3" (click)="searchMovie()">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="" *ngIf="!trendingMovie && !trendingTv && !trendingPeople && !topRatedMovies ">
        <h1 class="text-center">Loading....</h1>
    </div>
    <div class="container" *ngIf="trendingMovie && trendingTv && trendingPeople">
        <app-movie-card [trendingMovie]="trendingMovie" [trendingTv]="trendingTv"
            [trendingPeople]="trendingPeople" [topRatedMovies]="topRatedMovies"></app-movie-card>
    </div>
</section>